[defaults]
inventory = inventory
# Путь к вашему файлу инвентаря (теперь можно не писать -i ~/hosts)
#inventory = ~/hosts
allow_broken_conditionals = True
# Отключает проверку ключей (чтобы не было ошибок Identification changed)
host_key_checking = False

log_path = ./ansible_execution.log

# Пользователь по умолчанию для подключения
remote_user = vagrant

# Путь к приватному ключу
private_key_file = ~/.vagrant.d/insecure_private_key

[privilege_escalation]
# Автоматически использовать sudo для всех задач
become = True
become_method = sudo
become_user = root
become_ask_pass = False